@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  letter-spacing: 0.07em;
}

@layer components {
  .title-logo {
    @apply text-2xl font-light text-yellow-100 tracking-widest filter drop-shadow-lg;
  }

  #input--search-cocktail:focus,
  #btn--search-cocktail:focus {
    outline: none;
  }
}
